[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mcp = "*"
chromadb = "*"
spacy = "*"
textstat = "*"
language-tool-python = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.11"
